* {
    box-sizing: border-box;
}

nav-body {
    margin: 0;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Add animation to your navbar */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
    transition: transform 0.3s; /* Add a smooth transition for the transform property */
}

/* Apply the pull-up animation */
.nav a:hover {
    transform: translateY(-5px); /* Move the link up slightly on hover */
}

.site-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 26px;
    letter-spacing: 0.6px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
}

.karam {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    
}